@import "tailwindcss";

@keyframes skeleton {
  0% {
    transform: translate(-20%, -50%);
  }

  100% {
    transform: translate(160%, -50%);
  }
}

@layer utilities {
  .isChatView {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition-delay: .25s;
  }
}